@model GitHubActions.Web.Models.Pessoa

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Olá, @Model.Nome! Seja Bem vindo ao GitHub Actions!!</p>
    <small>repo: 
        <a href="https://github.com/fgemig/GithubActions">https://github.com/fgemig/GithubActions</a>
    </small>
</div>
